*

!.gitignore
!README.md

!default.nix
!flake.nix
!flake.lock

!gleam.toml
!manifest.toml
!src/
!src/*.gleam
!src/starflow/
!src/starflow/*.gleam
!/src/tools/
!/src/tools/*.gleam

!test/
!test/*.gleam
!test/starflow_test
!test/starflow_test/*.gleam
